body {
    margin: 0;
    height: 100vh;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 640px;
    gap: 0px;
}

.margin-auto {
    margin: 0 auto;
}

.max-width-800 {
    max-width: 800px;
}

.flex-center {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-grid {
    width: 40px;
    height: 40px;
}

.square-grid-border {
    width: inherit;
    height: inherit;
    border: 1px solid #aaa;
}